body {
  color: #3C4858;
  font-family: 'HelveticaNeueCyr';
  font-style: normal;
  font-size: 18px;
}

.header {
  background-color: #F7F8FC;
  height: 100px;

  &__inner {
    display: flex;
    align-items: center;
    height: 100%;
  }

  &__img {
    margin-right: 102px;
  }

  &__menu {
    margin: 0;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
  }

  &__menu-item {
    color: #3C4858;

    &:not(:last-child) {
      margin-right: 60px;
    }
  }

  &__button {
    width: 240px;
    height: 40px;
    font-size: 16px;
  }
}

button {
  width: 320px;
  height: 60px;
  font-size: 18px;
  background: #E9588F;
  border-radius: 10px;
  border: none;
  font-weight: bold;
  color: #FFFFFF;
  cursor: pointer;
  transition: 0.2s;

  &:hover {
    background: #e36d9c;
  }

  &:focus {
    outline: none;
  }
}

.head-block {
  display: flex;
  padding-top: 104px;

  &__left-col {
    width: 50%;
    /*font-size: 18px;*/
  }

  &__right-col {
    text-align: right;
    width: 50%;
  }

  &__title-list {
    font-weight: bold;
    font-size: 18px;
  }
}

.pink-text {
  color: #E9588F;
}

.title {
  font-size: 40px;
  font-weight: bold;
}

.title-name {
  font-size: 82px;
  color: #E9588F;
}

img {
  max-width: 100%;
}

.cost {
  font-size: 30px;
  font-weight: bold;
}

.old-cost {
  text-decoration: line-through; /*Создает перечеркнутый текст*/
}

.list {
  padding-left: 0;

  &__item {
    margin-left: 0;
    padding-left: 0;
    list-style-type: none; /*Убираем маркеры*/
  }
}

a {
  text-decoration: none; /* Отменяем подчеркивание у ссылки */
}

a:hover {
  color: #800000; /* Цвет ссылки при наведении на нее курсора мыши */
  text-decoration: underline; /* Добавляем подчеркивание */
}

.columns-1 {
  padding-top: 168px;
  padding-bottom: 120px;
}

.row {

}

.col {
  background-color: #f7f8fc;
  border-radius: 10px;
  padding-top: 30px;

  &:not(:last-child) {
    margin-right: 41px;
  }
}

.col-name {
  color: #E9588F;
  font-size: 25px;
  font-weight: bold;
}

/*
.col-text {
  font-size: 18px;
}*/

.description-text {
  max-width: 1000px;
}

.special-offer {
  text-align: center;
  margin-top: 150px;
  margin-bottom: 100px;
  background-color: #f7f8fc;
  border-radius: 10px;
}

.title-offer {
  width: 100%;
  font-size: 40px;
  font-weight: bold;
}
