#btn {
  width: 20%;
}
.btn {
  border: 2px solid green;
  border-radius: 2px;
}

.li {
  margin-top: 10px;
  margin-bottom: 10px;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  border: 2px solid blueviolet;
  align-items: center;
}

.li-active {
  background-color: blueviolet;
}

#input {
  width: 70%;
}

.wrap {
  width: 500px;
}