@charset "UTF-8";
body {
  color: #3C4858;
  font-family: 'HelveticaNeueCyr';
  font-style: normal; }

.header {
  background-color: #3C4858;
  height: 100px; }
  .header__inner {
    display: flex;
    align-items: center;
    height: 100%; }
  .header__img {
    margin-right: 30px; }
  .header__menu {
    margin: 0;
    margin-right: auto;
    display: flex;
    background-color: aqua;
    justify-content: space-between; }
  .header__menu-item {
    background-color: black;
    border: 4px double black;
    border-color: chartreuse; }
    .header__menu-item:not(:last-child) {
      margin-right: 20px; }

.head-block {
  display: flex;
  padding-top: 104px; }
  .head-block__left-col {
    width: 50%; }
  .head-block__right-col {
    width: 50%; }
  .head-block__old-cost {
    text-decoration: line-through;
    /*Создает перечеркнутый текст*/ }
  .head-block__button {
    width: 320px;
    height: 60px;
    background: #E9588F;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    font-size: 18px;
    color: #FFFFFF;
    cursor: pointer;
    transition: 0.2s; }
    .head-block__button:hover {
      background: #e36d9c; }
    .head-block__button:focus {
      outline: none; }

img {
  max-width: 100%; }

.list {
  padding-left: 0; }
  .list__item {
    margin-left: 0;
    padding-left: 0;
    list-style-type: none;
    /*Убираем маркеры*/ }

a {
  text-decoration: none;
  /* Отменяем подчеркивание у ссылки */ }

a:hover {
  color: #800000;
  /* Цвет ссылки при наведении на нее курсора мыши */
  text-decoration: underline;
  /* Добавляем подчеркивание */ }
