body {
  color: #3C4858;
  font-family: 'HelveticaNeueCyr';
  font-style: normal;
  font-size: 18px;
}

h3 {
  margin: 0;
}

p {
  margin: 0;
}

.header {
  background-color: #F7F8FC;
  height: 100px;

  &__inner {
    display: flex;
    align-items: center;
    height: 100%;
  }

  &__img {
    margin-right: 102px;
  }

  &__menu {
    margin: 0;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
  }

  &__menu-item {
    color: #3C4858;

    &:not(:last-child) {
      margin-right: 60px;
    }
  }

  &__button {
    width: 240px;
    height: 40px;
    font-size: 16px;
  }
}

button {
  width: 320px;
  height: 60px;
  font-size: 18px;
  background: #E9588F;
  border-radius: 10px;
  border: none;
  font-weight: bold;
  color: #FFFFFF;
  cursor: pointer;
  transition: 0.2s;

  &:hover {
    background: #e36d9c;
  }

  &:focus {
    outline: none;
  }
}

.head-block {
  display: flex;
  padding-top: 104px;

  &__left-col {
    width: 50%;
  }

  &__right-col {
    text-align: right;
    width: 50%;
  }

  &__title- {
    font-weight: bold;
    font-size: 18px;
  }
}

.pink-text {
  color: #E9588F;
}

.big-pink-text {
  color: #E9588F;
  font-size: 30px;
  font-weight: bold;
  padding-bottom: 25px;
  padding-top: 25px;
}

.title {
  font-size: 40px;
  font-weight: bold;
}

.title-name {
  font-size: 82px;
  color: #E9588F;
}

img {
  max-width: 100%;
}

.cost {
  font-size: 30px;
  font-weight: bold;
}

.old-cost {
  text-decoration: line-through; /*Создает перечеркнутый текст*/
  color: rgba(60, 72, 88, 0.62);
}

.list {
  padding-left: 0;

  &__item {
    margin-left: 0;
    padding-left: 0;
    list-style-type: none; /*Убираем маркеры*/
  }
}

a {
  text-decoration: none; /* Отменяем подчеркивание у ссылки */
  color: black;
}

a:hover {
  color: #800000; /* Цвет ссылки при наведении на нее курсора мыши */
  text-decoration: underline; /* Добавляем подчеркивание */
}

.card-wrapper {
  padding-top: 168px;
  padding-bottom: 120px;
}

.card-custom {
  background-color: #f7f8fc;
  border-radius: 10px;
  padding: 20px;
  padding-top: 30px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__title {
    color: #E9588F;
    font-size: 25px;
    font-weight: bold;
  }

  &__text {
    margin: 0;
  }
}

.description {

  &__text {
    max-width: 1000px;
  }
}

.special-offer {
  text-align: center;
  margin-top: 150px;
  margin-bottom: 100px;
  padding-top: 20px;
  padding-bottom: 75px;
  background-color: #f7f8fc;
  border-radius: 10px;
}

.title-offer {
  font-size: 40px;
  font-weight: bold;
}

.footer {
  color: black;
  font-size: 16px;

  &__element {
    padding-top: 60px;
  }

  &__img {
    margin-left: -20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
  }

  &__text {
    font-size: 16px;
  }

  &__text-item {
    text-decoration: underline;
  }
}

.warning {
  padding-left: 260px;
  padding-right: 260px;
  padding-bottom: 22px;
  padding-top: 22px;
  margin-left: -140px;
  margin-right: -140px;
  margin-bottom: 0;
  text-align: center;
  border-bottom: 1px solid #EAEAEA;
  border-top: 1px solid #EAEAEA;
}

.address {
  display: flex;
  align-items: center;
  min-width: 460px;
  text-align: left;
  margin: 0;
}

.social-icon {
  display: flex;
  justify-content: flex-end;

  &__elem {
    background: #E9588F;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;

    &:hover {
      background: #e36d9c;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.contacts {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  align-items: flex-end;
  min-width: 320px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.copyright {
  font-size: 16px;
  margin-left: -20px;
  padding-top: 33px;
}

.payment-system {
  margin-top: 60px;
  padding-top: 15px;
  height: 104px;
  border-top: 1px solid #EAEAEA;
}

.logo-card-container {
  text-align: right;
}

.info-block {
  padding-bottom: 50px;

  &__element {
    display: flex;
    margin-top: 50px;
  }

  &__element-img {
    flex-shrink: 0;
  }

  &__element-title {
    margin-bottom: 10px;
    font-size: 21px;
    font-weight: bold;
  }

  &__element-text {
    margin-left: 30px;
  }
}

.logo-master-card {
  margin-left: 15px;
  margin-right: 15px;
}

.note {
  font-size: 16px;
  color: #8B90A0;
  padding-bottom: 50px;
}

.invite-block {
  display: flex;

  &__left-col {
    width: 50%;
  }

  &__right-col {
    width: 50%;
    padding-bottom: 120px;
    text-align: center;
  }

  &__text {
    padding-bottom: 25px;
  }

  &__note {
    font-size: 15px;
    color: #8B90A0;
    padding-top: 25px;
  }

  &__img {
    flex-shrink: 0;
  }
}

.personal-account-block {
  display: flex;
  padding-top: 50px;
  padding-bottom: 135px;

  &__left-col {
    width: 50%;
  }

  &__right-col {
    width: 50%;
    text-align: left;
  }

  &__img {
    flex-shrink: 0;
  }
}

.personal-account-list {
    padding-left: 0;

    &__item {
      margin-left: 0;
      margin-bottom: 20px;
      padding-left: 0;
      list-style-type: none; /*Убираем маркеры*/
    }
}

.beautyclub365-block {
  display: flex;
  background-color: #F7F8FC;
  padding-bottom: 45px;
  padding-top: 45px;
  margin-bottom: 120px;

  &__left-col {
    width: 50%;
    padding-left: 100px;
  }

  &__right-col {
    width: 50%;
    text-align: center;
  }

  &__text {
    padding-bottom: 20px;
    padding-top: 20px;
  }
}

.three-blocks {
  padding-top: 50px;
  padding-bottom: 50px;
}

.block-type1 {
  display: flex;
  padding-top: 38px;
  padding-bottom: 38px;
  padding-left: 40px;
  background-color: #F7F8FC;
  flex-direction: column;
  height: 180px;
}

.block-type1-container {
  display: flex;
  vertical-align: bottom;
  align-items: center;

  &__title {
    padding-left: 20px;
  }

  &__text {
    padding-top: 20px;
  }
}

.block-type2 {
  display: flex;
  margin-top: 40px;
  padding-top: 38px;
  padding-left: 40px;
  background-color: #F7F8FC;
  flex-direction: column;

  &__element {
    padding-top: 50px;
  }

  &__title {
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 10px;
  }

  &__text {
    padding-bottom: 40px;
  }
}

.free-lesson {
  padding-bottom: 120px;

  &__text {
    padding-top: 20px;
    padding-bottom: 20px;
    max-width: 500px;
  }
}

.video-block {
  display: flex;
  justify-content: center;
  border-radius: 10px;
}

.block-bonus {
  padding-bottom: 120px;

  &__text {
    font-size: 16px;
    padding-top: 25px;
    width: 490px;

    &_big {
      font-size: 18px;
      font-weight: bold;
      padding-bottom: 20px;
      padding-top: 25px;
    }
  }

  &__button {
    position: relative;
    bottom: 388px;
    left: 40px;
    width: 181px;
    height: 41px;
    font-size: 16px;
  }
}

.block-examples {
  padding-bottom: 100px;

  &__name {
    color: #E9588F;
    font-size: 30px;
    padding-top: 50px;
    padding-bottom: 30px;
  }

  &__text {
    padding-bottom: 30px;

    &_big {
      font-size: 20px;
      font-weight: bold;
    }
  }
}