@charset "UTF-8";
body {
  color: #3C4858;
  font-family: 'HelveticaNeueCyr';
  font-style: normal;
  font-size: 18px; }

h3 {
  margin: 0; }

p {
  margin: 0; }

.header {
  background-color: #F7F8FC;
  height: 100px; }
  .header__inner {
    display: flex;
    align-items: center;
    height: 100%; }
  .header__img {
    margin-right: 102px; }
  .header__menu {
    margin: 0;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    font-weight: bold; }
  .header__menu-item {
    color: #3C4858; }
    .header__menu-item:not(:last-child) {
      margin-right: 60px; }
  .header__button {
    width: 240px;
    height: 40px;
    font-size: 16px; }

button {
  width: 320px;
  height: 60px;
  font-size: 18px;
  background: #E9588F;
  border-radius: 10px;
  border: none;
  font-weight: bold;
  color: #FFFFFF;
  cursor: pointer;
  transition: 0.2s; }
  button:hover {
    background: #e36d9c; }
  button:focus {
    outline: none; }

.head-block {
  display: flex;
  padding-top: 104px; }
  .head-block__left-col {
    width: 50%; }
  .head-block__right-col {
    text-align: right;
    width: 50%; }
  .head-block__title-list {
    font-weight: bold;
    font-size: 18px; }

.pink-text {
  color: #E9588F; }

.big-pink-text {
  color: #E9588F;
  font-size: 30px;
  font-weight: bold;
  padding-bottom: 25px;
  padding-top: 25px; }

.title {
  font-size: 40px;
  font-weight: bold; }

.title-name {
  font-size: 82px;
  color: #E9588F; }

img {
  max-width: 100%; }

.cost {
  font-size: 30px;
  font-weight: bold; }

.old-cost {
  text-decoration: line-through;
  /*Создает перечеркнутый текст*/
  color: rgba(60, 72, 88, 0.62); }

.list {
  padding-left: 0; }
  .list__item {
    margin-left: 0;
    padding-left: 0;
    list-style-type: none;
    /*Убираем маркеры*/ }

a {
  text-decoration: none;
  /* Отменяем подчеркивание у ссылки */
  color: black; }

a:hover {
  color: #800000;
  /* Цвет ссылки при наведении на нее курсора мыши */
  text-decoration: underline;
  /* Добавляем подчеркивание */ }

.card-wrapper {
  padding-top: 168px;
  padding-bottom: 120px; }

.card-custom {
  background-color: #f7f8fc;
  border-radius: 10px;
  padding: 20px;
  padding-top: 30px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .card-custom__title {
    color: #E9588F;
    font-size: 25px;
    font-weight: bold; }
  .card-custom__text {
    margin: 0; }

.description__text {
  max-width: 1000px; }

.special-offer {
  text-align: center;
  margin-top: 150px;
  margin-bottom: 100px;
  padding-top: 20px;
  padding-bottom: 75px;
  background-color: #f7f8fc;
  border-radius: 10px; }

.title-offer {
  font-size: 40px;
  font-weight: bold; }

.footer {
  color: black;
  font-size: 16px; }
  .footer__element {
    padding-top: 60px; }
  .footer__img {
    margin-left: -20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%; }
  .footer__text {
    font-size: 16px; }
  .footer__text-item {
    text-decoration: underline; }

.warning {
  padding-left: 260px;
  padding-right: 260px;
  padding-bottom: 22px;
  padding-top: 22px;
  margin-left: -140px;
  margin-right: -140px;
  margin-bottom: 0;
  text-align: center;
  border-bottom: 1px solid #EAEAEA;
  border-top: 1px solid #EAEAEA; }

.address {
  display: flex;
  align-items: center;
  min-width: 460px;
  text-align: left;
  margin: 0; }

.social-icon {
  display: flex;
  justify-content: flex-end; }
  .social-icon__elem {
    background: #E9588F;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s; }
    .social-icon__elem:hover {
      background: #e36d9c; }
    .social-icon__elem:last-child {
      margin-right: 0; }

.contacts {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  align-items: flex-end;
  min-width: 320px;
  padding-top: 20px;
  padding-bottom: 20px; }

.copyright {
  font-size: 16px;
  margin-left: -20px;
  padding-top: 33px; }

.payment-system {
  margin-top: 60px;
  padding-top: 15px;
  height: 104px;
  border-top: 1px solid #EAEAEA; }

.logo-card-container {
  text-align: right; }

.info-block {
  padding-bottom: 50px; }
  .info-block__element {
    display: flex;
    margin-top: 50px;
    margin-right: 30px; }
  .info-block__element-img {
    flex-shrink: 0; }
  .info-block__element-title {
    margin-bottom: 10px;
    font-size: 21px;
    font-weight: bold; }
  .info-block__element-text {
    margin-left: 30px; }

.logo-master-card {
  margin-left: 15px;
  margin-right: 15px; }

.note {
  font-size: 16px;
  color: #8B90A0;
  padding-bottom: 50px; }

.invite-block {
  display: flex; }
  .invite-block__left-col {
    width: 50%; }
  .invite-block__right-col {
    width: 50%;
    padding-bottom: 120px;
    text-align: center; }
  .invite-block__text {
    padding-bottom: 25px; }
  .invite-block__note {
    font-size: 15px;
    color: #8B90A0;
    padding-top: 25px; }
  .invite-block__img {
    flex-shrink: 0; }

/*# sourceMappingURL=style.css.map */
