@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Medium.woff2') format('woff2'),
  url('../fonts/Montserrat-Medium.woff') format('woff'),
  url('../fonts/Montserrat-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Light.woff2') format('woff2'),
  url('../fonts/Montserrat-Light.woff') format('woff'),
  url('../fonts/Montserrat-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-LightItalic.woff2') format('woff2'),
  url('../fonts/Montserrat-LightItalic.woff') format('woff'),
  url('../fonts/Montserrat-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-MediumItalic.woff2') format('woff2'),
  url('../fonts/Montserrat-MediumItalic.woff') format('woff'),
  url('../fonts/Montserrat-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-ExtraLightItalic.woff2') format('woff2'),
  url('../fonts/Montserrat-ExtraLightItalic.woff') format('woff'),
  url('../fonts/Montserrat-ExtraLightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Italic.woff2') format('woff2'),
  url('../fonts/Montserrat-Italic.woff') format('woff'),
  url('../fonts/Montserrat-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-ThinItalic.woff2') format('woff2'),
  url('../fonts/Montserrat-ThinItalic.woff') format('woff'),
  url('../fonts/Montserrat-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Regular.woff2') format('woff2'),
  url('../fonts/Montserrat-Regular.woff') format('woff'),
  url('../fonts/Montserrat-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-SemiBold.woff2') format('woff2'),
  url('../fonts/Montserrat-SemiBold.woff') format('woff'),
  url('../fonts/Montserrat-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-SemiBoldItalic.woff2') format('woff2'),
  url('../fonts/Montserrat-SemiBoldItalic.woff') format('woff'),
  url('../fonts/Montserrat-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Thin.woff2') format('woff2'),
  url('../fonts/Montserrat-Thin.woff') format('woff'),
  url('../fonts/Montserrat-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Black.woff2') format('woff2'),
  url('../fonts/Montserrat-Black.woff') format('woff'),
  url('../fonts/Montserrat-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-ExtraBold.woff2') format('woff2'),
  url('../fonts/Montserrat-ExtraBold.woff') format('woff'),
  url('../fonts/Montserrat-ExtraBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-BlackItalic.woff2') format('woff2'),
  url('../fonts/Montserrat-BlackItalic.woff') format('woff'),
  url('../fonts/Montserrat-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-ExtraLight.woff2') format('woff2'),
  url('../fonts/Montserrat-ExtraLight.woff') format('woff'),
  url('../fonts/Montserrat-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-BoldItalic.woff2') format('woff2'),
  url('../fonts/Montserrat-BoldItalic.woff') format('woff'),
  url('../fonts/Montserrat-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Bold.woff2') format('woff2'),
  url('../fonts/Montserrat-Bold.woff') format('woff'),
  url('../fonts/Montserrat-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-ExtraBoldItalic.woff2') format('woff2'),
  url('../fonts/Montserrat-ExtraBoldItalic.woff') format('woff'),
  url('../fonts/Montserrat-ExtraBoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

body {
  color: #05043A;
  font-family: 'Montserrat';
  font-style: normal;
  font-size: 16px;
}

img {
  max-width: 100%;
  height: auto;
}

h3 {
  margin: 0;
}

p {
  margin: 0;
}
.pink-text {
  color: #FFA0D9;

  &_big {
    color: #FFA0D9;
    font-size: 29px;
  }
}

ul {
  padding-left: 20px;
  margin-bottom: 0;
}

li {
  color: #FFA0D9;
}

li span {
  color: #05043A;
}

button {
  background-color: #FFA0D9;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  height: 55px;
  width: 268px;
  color: #FFFFFF;
  cursor: pointer;
  transition: 0.2s;

  &:hover {
    background: #e36d9c;
  }

  &:focus {
    outline: none;
  }
}

.title {
  font-size: 18px;

  &_big {
    font-size: 40px;
    font-weight: bold;
  }
}

.card-wrapper {
  padding-top: 40px;
}

.card-custom {
  background-color: #F7F8FC;
  text-align: center;
  height: 100%;
  padding-bottom: 20px;
  
  @media (max-width: 1200px) {
  
  }
  
  @media (max-width: 320px) {
  
  }

  &__title {
    text-align: left;
    font-size: 18px;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 25px;
    padding-right: 25px;
  }

  &__text {
    text-align: left;
    padding-left: 25px;
    padding-right: 25px;
  }

  &__img {
    padding-top: 40px;
    min-height: 200px;
  }
}

.block-recovery {
  background-color: #F7F8FC;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-right: 20px;
  padding-left: 20px;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;

  &__img {

    }
  }

  &__text {
    padding-top: 20px;
    padding-bottom: 20px;

    &_big {
      font-weight: bold;
      padding-bottom: 20px;
    }
  }
}

.block-author {
  margin-top: 106px;

  &__title {
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 20px;
  }

  &__text {
    max-width: 650px;
    padding-bottom: 10px;
  }

  &__list {
    padding-bottom: 20px;
  }

  &__list-item {
    padding-bottom: 10px;
  }

  &__wrapper {
    padding-top: 40px;
    display: flex;
  }

  &__info {
    padding-left: 40px;
  }

  &__experience {
    font-weight: bold;
    display: flex;
  }

  &__experience-item {
    padding-right: 40px;
  }
}

.block-results {
  padding-top: 50px;
  padding-bottom: 50px;

  &__button {
    text-align: center;
    padding-top: 40px;
  }
}

.course-covid {
  padding-bottom: 50px;

  &__wrapper {
    padding-right: 25px;
    padding-left: 25px;
    padding-bottom: 25px;
    padding-top: 40px;
    margin-top: 40px;
    background-color: #F7F8FC;
    display: flex;
    justify-content: space-between;
  }

  &__button {
      text-align: center;
      padding-top: 40px;
  }

  &__element {
    width: 400px;
  }

  &__list-item {
    max-width: 300px;
    padding-bottom: 10px;
  }

  &__element-name {
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 10px;
  }

  &__list-title {
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 10px;
  }
}

.block-offer {

  &__wrapper {
    margin-top: 40px;
    background-color: #F7F8FC;
    text-align: center;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 40px;
  }

  &__element {
    border-bottom: 1px solid #EAEAEA;
    padding-top: 20px;
    padding-bottom: 10px;

    &_change {
      display: flex;
      justify-content: space-around;
      border-top: 1px solid #EAEAEA;
      border-bottom: 1px solid #EAEAEA;
      padding-top: 20px;
      padding-bottom: 10px;
    }
  }

  &__name {
    font-size: 24px;
    font-weight: bold;
    padding-top: 40px;
  }

  &__text {
    font-size: 18px;

    &_big {
      font-size: 20px;
      font-weight: bold;
    }
  }

  &__cost {
    padding-top: 20px;
    font-size: 24px;
    font-weight: bold;
  }

  &__old-price {
    color: #8B90A0;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 16px;
    text-decoration: line-through; /*Создает перечеркнутый текст*/
  }

  &__new-price {
    font-size: 28px;
    font-weight: bold;
    padding-bottom: 20px;
  }

  &__plus {
    padding-bottom: 20px;
    padding-top: 10px;
    font-size: 20px;
    font-weight: bold;
    color: #FFA0D9;
  }
}
